@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@400;600&family=Lato:wght@400;700&family=Lexend+Deca:wght@400;600&family=Montserrat:wght@400;600&family=Poppins:wght@400;600&family=Roboto:wght@400;500&family=Staatliches&display=swap');

/* font-family: 'Alata', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive; */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lime: #abd699;
  --lemon: #ffe26a;
  --teal: #75c9b7;
  --mint: #c7ddcc;
  --navy: #16123f;
  --black: #000000
  --offwhite: rgba(249, 249, 249, 0.8);
}


body {
    background-color: var(--lemon);
    font-family: 'Alata', sans-serif;
    
}
.wrapper {
    /* max-width: 1100px; */

}

p {
    font-size: 14px;
    
}

h2 {
    margin-top: 20px;
}

.h1-color {

    color: var(--navy);
}

.about {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    max-width: 500px;
}

.about-content h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.about-img {
    margin-top: 25px;
    width: 175px; 
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hr {
    margin-top: 20px;
    width: 70%;
   border: 0.5px solid var(--teal);
    
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-images {
    width: 270px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles h2 {
    margin-bottom: 10px;
}



.icons {
   
   
    height: 30px;
    margin: 15px 5px;
}



/* .fa-brands { 
   background-color: var(--lime);
} */

@media (min-width: 768px) {

}