@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@400;600&family=Lato:wght@400;700&family=Lexend+Deca:wght@400;600&family=Montserrat:wght@400;600&family=Poppins:wght@400;600&family=Roboto:wght@400;500&family=Staatliches&display=swap');

/* font-family: 'Alata', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive; */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



:root {
  --lime: #abd699;
  --lemon: #ffe26a;
  --teal: #75c9b7;
  --mint: #c7ddcc;
  --navy: #16123f;
  --black: #000000
  --offwhite: rgba(249, 249, 249, 0.8);
}


body {
    background-color: var(--lime);
    font-family: 'Alata', sans-serif;
}

.about {
    font-size: 3rem;
    background-color: var(--lemon);
}